/*ul li {
    display: inline;
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px 4px 0 0;
    font-size: 15px;
}
ul li:hover {
    background-color: orange;
}
ul li a:visited {
    background-color: black;
}
ul li a {
  color: white;
}*/
ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 300px;
  color:white;
  letter-spacing: 2px;
  font-family: Verdana, Verdana, sans-serif;
}
#newPage {
  padding-left: 100px;
}
ul li:hover {
  color:orange;
}
#FirstDiv {
  background-color: navy;
  border-radius: 20px;
  border: 15px solid navy;
}
#fullName {
  color: white;
  letter-spacing: 2px;
  font-family: Verdana, Verdana, sans-serif;
  margin: 0px;
  display: inline;
  text-align: left;
}
#fullName:hover {
  color: orange;
}
#fullName:hover {
  cursor:pointer;
}

body {
  background-color: #C2E1F7;
}
#obj {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
}
#obj:hover {
  color:orange;
}
#objBody {
  display: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#eduBody {
  display: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#expBody {
  display: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#leadBody {
  display:none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#skillBody {
  display:none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
