ul {
  padding-left: 0px;
}
ul li {
  list-style-type: none;
  display: inline;
  color:white;
  font-family: Verdana, Verdana, sans-serif;
}
#MainTitle {
  font-size: 22px;
  letter-spacing: 2px;
  vertical-align: middle;
  padding-left: 3px;
  text-shadow: 2px 1px grey;
}

#MainTitle:hover {
  cursor: pointer;
  text-shadow: 2px 1px grey;
}

#Res {
  font-size: 13px;
  vertical-align: middle;
  margin-left: 1050px;
}
#Res:hover {
  color:grey;
  cursor: pointer;
}

#Contact {
  font-size: 13px;
  vertical-align: middle;
  margin-left: 10px;
}

#Contact:hover {
  color:grey;
  cursor: pointer;
}

#FirstDiv {
  background-color: black;
  border-radius: 5px;
  border: 1px solid navy;
  opacity: 0.8;
  width: 1278px;
  height: 50px;
  position: relative;
  right: 8px;
  bottom: 20px;
}

body {
  background-color: #CCCCCC;
}


#obj {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
}
#obj:hover {
  color:orange;
}
#objBody {
  display: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#eduBody {
  display: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#expBody {
  display: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#leadBody {
  display:none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#skillBody {
  display:none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
