/*ul li {
    display: inline;
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 4px 4px 0 0;
    font-size: 15px;
}
ul li:hover {
    background-color: orange;
}
ul li a:visited {
    background-color: black;
}
ul li a {
  color: white;
}*/
#MyFirstTable, td{
  border: 1px solid black;
}

#fullName {
  background-color: #323266;
  padding: 25px;
  color: white;
  letter-spacing: 2px;
  border-radius: 20px;
  font-family: Comic Sans MS, Verdana, sans-serif;
}
#fullName:hover {
  cursor:pointer;
}
#MyFirstList li {
  padding-right: 5px;
}
#MyFirstList {
  list-style-type:square;
}
body {
  /*background-color: #C2E1F7;*/
}
#obj {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
}
#obj:hover {
  color:orange;
}
#objBody {
  display: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#eduBody {
  display: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#expBody {
  display: none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#leadBody {
  display:none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#skillBody {
  display:none;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
